*.sqlite3
*.log
*.pot
*.pyc
*.DS_Store
local

local_settings.py

/env/
uvcdat_live.db
django-app/uvcdat_live/classic.db
django-app/uvcdat_live/exploratory_analysis/css/
django-app/uvcdat_live/exploratory_analysis/img/
django-app/uvcdat_live/exploratory_analysis/js/
django-app/uvcdat_live/exploratory_analysis/cache/
django-app/uvcdat_live/exploratory_analysis/heatmap_data/
django-app/uvcdat_live/exploratory_analysis/json_grid_data/

