*.sqlite3
*.log
*.pot
*.pyc
*.DS_Store
local

local_settings.py

env/
django-app/uvcdat_live/exploratory_analysis/css/
django-app/uvcdat_live/exploratory_analysis/img/
django-app/uvcdat_live/exploratory_analysis/js/
uvcdat_live.db
