<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "exploratory_analysis/head.html" %}
	</head>

	<body>


		<div class="hiddentext">
			<br>
			Username: <span id="username_posted">{{username}}</span>

		</div>

		<!-- Wrap all page content here -->
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top">

				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">DiagnosticsViewer</a>
					</div>

					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav">

							{% if request.user.is_authenticated %}

								<li>
									<a href="{% url 'browse_datasets' %}" id="classic_link">Browse</a>
								</li>
								<li>
									<a href="{% url 'logout_page' %}" id="logout_link">Logout</a>
								</li>

							{% else %}

								<li>
									<a href="{% url 'login_page' %}" id="login_link">Login</a>
								</li>


							{% endif %}

						</ul>

						<ul class="nav navbar-nav navbar-right">

							{% if request.user.is_authenticated %}

							<li>
								<a href="#" id="stamp">user: {{user.username}}</a>
							</li>

							{% endif %}

						</ul>

					</div>

				</div>

			</div>
			<div class="container">
			{% if messages %}
			    {% for message in messages %}
			    <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
			    {% endfor %}
			{% endif %}

			{% block content %}{% endblock %}
			</div>

		</div>


		<script>
		$(document).ready(function(){

			var username = $('#username_posted').html();


			$('#login_link').click(function(){
				location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis/login";
			});

			$('#logout_link').click(function(){
				location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis/logout";
			});

			$('#classic_link').click(function(){
				location.href = 'http://' + EA.host + ':' + EA.port + '/exploratory_analysis/classic/' + username;
			});

		});
		</script>



	</body>



</html>




