{% extends "exploratory_analysis/base.html" %}

{% block content %}

<style>
iframe {
	width:100%;
	height:800px;
	border:none;
}
</style>

	<div class="row">
		<div class="col-sm-4">
			<h1>Browse Datasets</h1>
		</div>
		<div class="col-sm-8">
			<form>
				<div class="form-group">
					<label for="dataset"></label>
					<select id="dataset">
						{% for ds in datasets %}
						<optgroup label="{{ds.proper_name}}">
							{% for pkg in ds.packages %}
							<option data-id="{{ ds.id }}" value="{{pkg}}">{{ds.proper_name}}: {{ pkg }}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<iframe id="index"></iframe>
		</div>
		<div class="col-sm-8">
			<iframe id="detail"></iframe>
		</div>
	</div>

<script type="text/javascript">
	function set_index(dataset, package) {
		$("#index").attr("src", "/output/" + dataset + "/" + package + "/").load(function(){
			this.contentWindow.steal_links(index_link);
		});
	}

	function index_link(target) {
		$("#detail").attr("src", target);
	}

	$("body").ready(function(){
		$("#dataset").change(function() {
			var index = this.selectedIndex;
			var option = $(this.options[index]);
			var dataset = option.attr("data-name");
			var package = option.val();
			set_index(dataset, package);
		});
	{% with datasets|first as ds %}
		{% with ds.packages|first as pkg %}
		set_index("{{ds.id}}", "{{pkg}}");
		{% endwith %}
	{% endwith %}
	});
</script>

{% endblock %}