{% extends "exploratory_analysis/base.html" %}

{% block content %}

<style>

.viewer img {
	max-width:100%;
}

</style>

	<div class="row">
		<div class="col-sm-4">
			<h1>Browse Datasets</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="header">
				<label for="dataset">Dataset</label>
				<button type="button" style="padding:0;" class="btn btn-link" id="share" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share"></i> Share</button>
			</div>
			<div class="body">
				<select class="dataset_picker">
					{% for ds in datasets %}
						<option data-pkgs="{{ ds.packages|join:'|' }}" value="{{ ds.id }}" {% if ds.id == selected.id %}selected{% endif %}>{{ ds.proper_name }}</option>
							}
					{% endfor %}
				</select>
			</div>
			<div class="viewer" data-dsid="{% if selected %}{{selected.id}}{% endif %}"></div>
		</div>
		<div class="col-sm-6">
			<div class="header">
				<label for="dataset">Dataset</label>
				<button type="button" style="padding:0;" class="btn btn-link" id="share" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share"></i> Share</button>
			</div>
			<div class="body">
				<select class="dataset_picker">
					{% for ds in datasets %}
						<option data-pkgs="{{ ds.packages|join:'|' }}" value="{{ ds.id }}" {% if ds.id == selected.id %}selected{% endif %}>{{ ds.proper_name }}</option>
							}
					{% endfor %}
				</select>
			</div>
			<div class="viewer" data-dsid="{% if selected %}{{selected.id}}{% endif %}"></div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="shareLabel">Share Dataset With Group</h4>
				</div>
				<div class="modal-body">
					<label for="shareGroup">Group to Share With:</label>
					<select id="shareGroup">
						{% if request.user.owned_groups.all %}
						<optgroup label="Owner">
						{% for grp in request.user.owned_groups.all %}
							<option value="{{grp.id}}">{{grp.name}}</option>
						{% endfor %}
						</optgroup>
						{% endif %}
						{% if request.user.groups.all %}
						<optgroup label="Member">
						{% for grp in request.user.groups.all %}
							<option value="{{grp.id}}">{{grp.name}}</option>
						{% endfor %}
						</optgroup>
						{% endif %}
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="share_button" class="btn btn-primary">Share</button>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	function parseQuery(qstr) {
        var query = {};
        var a = qstr.split('&');
        for (var i = 0; i < a.length; i++) {
            var b = a[i].split('=');
            query[decodeURIComponent(b[0])] = decodeURIComponent(b[1] || '');
        }
        return query;
    }
	var package = undefined, page = undefined, group = undefined, row = undefined, col = undefined;
	function view() {
		$(".viewer").each(function(){
			var dataset = $(this).attr('data-dsid');
			var url = "/viewer/" + dataset;
			var params = {};
			if (package !== undefined) {
				params.package = package;
			}
			if (page !== undefined) {
				params.page = page;
			}
			if (group !== undefined) {
				params.group = group;
			}
			if (row !== undefined) {
				params.row = row;
			}
			if (col !== undefined) {
				params.col = col;
			}
			url += "?" + $.param(params);
			$(this).empty()
			$(this).load(url, function(){
				$(this).find(".dropdown-toggle").dropdown();
				// hijack links to just do the view call
				$(this).find("a[href]").click(function(e){
					var url = $(this).attr("href");
					console.log(url);
					var qstr = url.split("?")[1];
					console.log(qstr);
					var params = parseQuery(qstr);
					console.log(params);
					package = params.package;
					page = params.page;
					group = params.group;
					row = params.row;
					col = params.col;
					view();
					e.preventDefault();
				});
			});
			$
		});
	}

	function index_link(target) {
		$("#detail").attr("src", target);
	}

	$("body").ready(function(){
		$(".dataset_picker").change(function() {
			var index = this.selectedIndex;
			var option = $(this.options[index]);
			var dataset = option.val();
			$(this).parent().parent().find(".viewer").attr("data-dsid", dataset);
			view();
		});

		$("#share_button").click(function(){
			var ds = $("#dataset").val();
			var group = $("#shareGroup").val();
			$.post("{% url 'share-dataset' %}", {"group": group, "dataset": ds[0]}, function(d){
				$("#shareModal").modal('hide');
			});
		});
		view();
	});
</script>

{% endblock %}