{% extends "exploratory_analysis/base.html" %}

{% block content %}

<style>

</style>

	<div class="row">
		<div class="col-sm-12">
			<h1>Manage Groups</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form data-autojax='true' action="{% url 'create-group' %}" method='POST'>
				{% csrf_token %}
				<div class="form-group">
					<label for="search">Create group: </label>
					<div class="input-group">
						<input type="text" class="form-control" name="name"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Create</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="group-wrapper">
				<h1>Groups you Own</h1>
				<table class="group-table table">
					{% for group in user.owned_groups.all %}
					<tr>
						<td>{{ group.name }}</td>
						<td><a href="{% url 'manage-group' group.id %}">Manage</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="group-wrapper">
				<h1>Groups you're in</h1>
				<table class="group-table table">
					{% for group in user.group_memberships.all %}
					<tr>
						<td>{{ group.name }}</td>
						<td><button class="btn btn-warning leave" data-leave-url="{% url 'remove-user-from-group' group.id %}">Leave Group</button></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

<script type="text/javascript">
$(".leave").click(function(){
	var el = $(this);
	var url = el.attr("data-leave-url");
	$.post(url, {"user": "{{ user.id }}"}, function(){
		var row = el.parent().parent();
		row.fadeOut(function(){
			row.detach();
		});
	});
});
</script>

{% endblock %}