{% load staticfiles %}

		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<meta content="utf-8" http-equiv="encoding" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<link rel="shortcut icon" href="./ico/favicon.png" />

		<title>UV-CDAT:EA Prototype</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'exploratory_analysis/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />

		<!-- Sticky-footer-navbar -->
		<link href="{% static 'exploratory_analysis/css/sticky-footer-navbar.css' %}" rel="stylesheet" />

		<!-- Navbar-fixed-top -->
		<link href="{% static 'exploratory_analysis/css/navbar-fixed-top.css' %}" rel="stylesheet" />

		<!-- General styles -->
		<link href="{% static 'style.css' %}" rel="stylesheet" />
		<!-- Jquery 1.10.2 -->
		<script src="{% static 'exploratory_analysis/js/jquery/jquery-1.10.2.min.js' %}"></script>
		<!-- Bootstrap 3 -->
		<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap.min.js' %}"></script>

		<!-- Core.js - initialization of various params -->
		<script src="{% static 'exploratory_analysis/js/core.js' %}"></script>

		<style type="text/css">
			.hiddentext {
					display:none
				}
		</style>
