
{% extends "exploratory_analysis/base.html" %}

{% block content %}

    
    	<div class="container">
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>Diagnostics Viewer</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
    		<div class="row">
    			<div class="col-md-12">
					<p class="lead">A simple site for uploading, viewing, and sharing your diagnostics output with collaborators.</p>
    			</div>
    		</div>
    		

		</div>
    
    
	
    
{% endblock %}
