.viewer_box > h1 {
	text-align:center;
}

.viewer {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.viewer_box {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.viewer_box_content {
	width: 100%;
    object-fit: contain;
}

.viewer_box_footer {
	flex-basis: 0;
}

.viewer_box_footer dd {
	font-family: monospace;
	word-break: break-all;
}

.panel-collapse > .list-group {
	margin-bottom:0;
}

.panel-collapse > .list-group > .list-group-item:first-child {
	border-top-right-radius:0;
	border-top-left-radius:0;
}

.panel-collapse > .list-group > .list-group-item:last-child {
	border-bottom:0;
}

.panel-collapse > .list-group > .list-group-item {
	border-left:0;
	border-right:0;
}
