.viewer {
  display: flex;
  flex-direction: row;
  max-width:100%;
}
.viewer_box {
  flex-shrink: 1;
}

.viewer_box > *{
  width:100%;
}

.viewer_box img {
  display: block;
}

.panel-collapse > .list-group {
	margin-bottom:0;
}

.panel-collapse > .list-group > .list-group-item:first-child {
	border-top-right-radius:0;
	border-top-left-radius:0;
}

.panel-collapse > .list-group > .list-group-item:last-child {
	border-bottom:0;
}

.panel-collapse > .list-group > .list-group-item {
	border-left:0;
	border-right:0;
}